@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
}

body {
  background: #e7e6ff;
  overflow-x: hidden;
}

.main {
  display: flex;
  height: 100vh;
  width: 100%;
}
.box {
  position: relative;
  flex-direction: column;
  width: fit-content;
  display: flex;
  justify-content: center;
  background: wheat;
}
.box h1 {
  top: 0;
  margin-top: 3vh;
  text-align: center;
  width: 100%;
  font-size: 2rem;
  z-index: 1;
  position: absolute;
}
.box div:last-child {
  flex: 1;
  background: tomato;
}
.box2 {
  background: rgb(239, 255, 208);
  position: relative;
  flex: 1;
}
.base {
  overflow: hidden;
  justify-content: center;
  width: 500px;
  height: 850px;
  display: flex;
  position: relative;
  background: yellowgreen;
}
.base img {
  width: 100%;
  object-fit: cover;
}
.buttons {
  opacity: 0;
  gap: 10px;
  display: flex;
  background-color: aqua;
  height: 8vh;
  width: 25vw;
  bottom: 0;
  right: 0;
  z-index: 1;
  position: absolute;
}
.buttons button {
  font-size: 1.2rem;
  border-radius: 2vw;
  width: 100%;
}
#demo {
  right: 0;
  text-align: center;
  z-index: 1;
  background: turquoise;
  position: absolute;
  width: 600px;
  font-size: 2rem;
}
@media (max-width: 780px) {
  .box {
    display: flex;
    width: 100%;
    background: turquoise;
  }
  .base {
    justify-content: center;
    width: 100%;
    display: flex;
    position: relative;
    background: rgb(232, 255, 187);
  }
  .base img {
    height: 100%;
    object-fit: cover;
  }
  .box2 {
    background: rgb(237, 255, 201);
    display: none;
  }
}
